#populator_div {
  padding: 20px;

  .uiGrayLightBox label {
    font-weight: bold;
  }

  .uiLeftContainerArea {
    padding-right: 20px;

    .category {
      padding: 5px 10px;
      background-color: #F0F0F0;
    }

    .active {
      background-color: #4f72ac;
      color: #FFFFFF;
    }

  }

  .uiRightContainerArea {
    float:initial;

    .uiBox {
      padding: 10px;
    }
  }

}

